---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import GalleryList from '~/components/blog/GalleryList.astro';
import PaginationNew from '~/components/blog/PaginationNew.astro';
import Headline from '~/components/blog/Headline.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate }, 'camila', 12);
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;
const totalPages = Math.ceil(page.total / page.size);
const basePath = "/camila/blog/";

const metadata = {
  title: `Posts by tag '${tag.title}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Tag: {tag.title}</Headline>
    <GalleryList posts={page.data} user="camila" />
    <PaginationNew
      currentPage={currentPage}
      lastPage={totalPages}
      urlPrev={page.url.prev}
      urlNext={page.url.next}
      basePath={basePath}
      maxDisplayedPages={4}
    />
  </section>
</Layout>
