---
import { Image } from 'astro:assets';
import type { Post } from '~/types';

import { getBlogPostPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
  user: string;
}

const { post, user } = Astro.props;
const image = (await findImage(post.image));

const link = getBlogPostPermalink(post.permalink, user);
---

<article
  class="grid grid-rows-[300px_auto] md:grid-rows-[300px_auto] min-h-full group transition transition-transform duration-500 hover:-translate-y-1 hover:scale-105"
>
  <a class="relative overflow-hidden" href={link}>
    <Image
      src={image}
      class="w-full md:h-full object-cover shadow-lg bg-gray-400 dark:bg-slate-700"
      widths={[400, 900]}
      width={400}
      sizes="(max-width: 900px) 400px, 900px"
      alt={post.title}
      layout="cover"
      loading="lazy"
      decoding="async"
    />

    <div class="z-30 absolute bottom-0 w-full h-15">
      <div class="-z-10 absolute bottom-0 glass w-full min-h-full"></div>
      <div class="flex items-center justify-between gap-x-1 text-white px-3 py-2">
        <div class="flex flex-col gap-1">
          <time datetime={String(post.publishDate)} class="text-xs font-bold text-opacity-60"
            >{getFormattedDate(post.publishDate)}</time
          >
          <span class="text-xs"> {post.title}</span>
        </div>
      </div>
    </div>
  </a>
</article>
